<% if @entry.errors.any? %>
  <div id="errors">
    <% @entry.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<p class="entry_field">
  <%= f.label :title, 'Description' %>
  <%= f.text_field :title, size: 80 %>
</p>

<p class="entry_field">
  <%= f.label :body, 'Entry Body' %>
  <%= f.text_area :body, cols: 80, rows: 20 %>
</p>

<p class="entry_field">
  <%= f.label :entry_type, 'Entry Type' %>
  <%= f.select :entry_type_id, EntryType.all.collect { |t| [ t.description, t.id ] }, {} %>
</p>

<p class="entry_field">
  <%= f.label :source, 'Source' %>
  <%= f.text_field :source  %></p>
</p>

