<h1>Edit entry</h1>

<%= form_for @entry do |f| %>
  <%= render partial: 'form_entry', locals: { f: f } %>
  <%= submit_tag 'Save' %>
<% end %>

<div id="actions">
  <%= link_to 'Show', entry_path(@entry) %> |
  <%= link_to 'Back', root_path %>
</div>

