<h1>New entry</h1>

<%= form_tag entry_path(@entry), method: :put do %>
  <%= render partial: 'form_entry' %>
  <%= submit_tag 'Save' %>
<% end %>

<br />

<% if @entry.id.present? %>
  <%= link_to 'Show', entry_path(@entry) %> |
<% end %>
<%= link_to 'Back', entries_path %>
