<div class="entry">
  <h2><%= h @entry.title %></h2>
  <hr />

  <%= markup(@entry.body_without_fragment_links) %>
  <hr />

  <%= render partial: 'fragments', locals: { entry: @entry } %>

  <% if @entry.source.present? -%>
    <p><strong>Source: </strong><%= @entry.source %></p>
  <% end -%>
</div>

<div id="actions">
  <%= link_to 'Back', entries_path %> |
  <%= link_to 'Edit', edit_entry_path(@entry) %> |
  <%= link_to 'Delete', entry_path(@entry), data: { confirm: 'Are you sure you would like to delete this entry?' }, :method => :delete %>
</div>

